#root {
  height: 100%;
  width: 100%;
  margin: 0 ;
  padding: 0;
  background:url('https://img.freepik.com/vetores-gratis/fundo-branco-com-linhas-onduladas-copia-espaco_23-2148822145.jpg?w=2000');
  background-position: center;
  background-origin: center;
  background-size: cover;
  background-repeat: no-repeat;
  @media(max-width:1300px) {
    background:white;
  }
}
